.user {
    flex: 4;
    padding: 20px;   
}

.userTitleContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.userAddButton {
    background-color: teal;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    width: 80px;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}

.userShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px -10px rgb(0, 0, 0, 0.75);
    box-shadow: 0 0 15px -10px rgb(0, 0, 0, 0.75);
}

.userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px -10px rgb(0, 0, 0, 0.75);
    box-shadow: 0 0 15px -10px rgb(0, 0, 0, 0.75);
    margin-left: 20px;
}

.userShowTop {
    align-items: center;
    display: flex;
}

.userShowImg {
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    width: 40px;
}

.userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername {
    font-weight: 600;
}

.userShowUserTitle {
    font-weight: 300;
}

.userShowBottom {
    margin-top: 20px;
}

.userShowTitle {
    color: rgb(175, 170, 170);
    font-size: 14px;
    font-weight: 600;
}

.userShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}

.userShowIcon {
    font-size: 16px !important;
}

.userShowInfoTitle {
    margin-left: 10px;
}

.userUpdateTitle {
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label {
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput {
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
    width: 250px;
}

.userUpdateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload {
    align-items: center;
    display: flex;
}

.userUpdateImg {
    border-radius: 10px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    width: 100px;
}

.userUpdateIcon {
    cursor: pointer;
}

.userUpdateButton {
    background-color: darkblue;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
}